__pycache__/
*.pyc
.ipynb_checkpoints/

dataset/*.jsonl
dataset/*.csv
dataset/*.bin

out/
checkpoints/
*.pth
*.pt
*.ckpt
*.safetensors

minimind-3/
minimind-3-pytorch/

logs/
*.log
.cache/
modelscope/
wandb/
swanlog/
swanlab/

venv/
env/
.venv/
minimind_env_clean/

.DS_Store
*.tmp
